Source: libsmraw
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libssl-dev, libfuse-dev, python-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libsmraw/

Package: libsmraw
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to access the storage media (SM) RAW format
 libsmraw is a library to access the storage media (SM) RAW format.
 The library supports both RAW and split RAW.

Package: libsmraw-dev
Section: libdevel
Architecture: any
Depends: libsmraw (= ${Source-Version})
Description: Header files and libraries for developing applications for libsmraw
 Header files and libraries for developing applications for libsmraw.

Package: libsmraw-tools
Section: utils
Architecture: any
Depends: libsmraw (= ${Source-Version}), ${shlibs:Depends}
Description: Several tools for reading and writing storage media (SM) (split) RAW files
 Several tools for reading and writing storage media (SM) (split) RAW files.
 It contains tools to acquire, export, query and verify storage media (SM) (split) RAW files.

Package: libsmraw-python
Section: python
Architecture: any
Depends: libsmraw (= ${Source-Version}), ${shlibs:Depends}, ${python:Depends}
Description: Python bindings for libsmraw
 Python bindings for libsmraw.

